.Modal-container {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: end;
  justify-content: center;
}

.Modal-container--center {
  align-items: center;
}

.Modal {
  background: white;
  border-radius: 1rem 1rem 0 0;
  min-width: 300px;
  max-width: 500px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Modal-content {
  overflow-y: auto;
  flex: 1;
  padding: 2rem;
}

.Modal-container--center .Modal {
  border-radius: 1rem;
}

body.dark .Modal {
  background: #1a1a1a;
  color: #ffffff;
}

.Modal-footer {
  padding: 1rem 2rem 2rem;
  text-align: center;
  border-top: 1px solid #ecf0f1;
}

body.dark .Modal-footer {
  border-top-color: #2d2d2d;
}
